$uri-close: "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48Y2lyY2xlIGZpbGw9IiMwMTMxNDUiIGZpbGwtcnVsZT0ibm9uemVybyIgY3g9IjEyIiBjeT0iMTIiIHI9IjEyIi8+PGcgc3Ryb2tlPSIjRkZGIiBzdHJva2UtbGluZWNhcD0icm91bmQiPjxwYXRoIGQ9Ik04LjQ0NCA4LjQ0NGw2Ljk5NiA2Ljk5Nk0xNS41NTYgOC40NDRMOC41NiAxNS40NCIvPjwvZz48L2c+PC9zdmc+";

%icon-close {
  background-image: url($uri-close);
  background-repeat: no-repeat;
}